<div class="dashboard">
  <div class="jumbotron">
    <h2><strong>Hola Maestro <%= full_name(current_teacher) %>!</strong></h2>
    <p>Bienvenido a tu Colegio</p>
    <%= link_to 'Ver mi Perfil', edit_teacher_path(current_teacher),class: 'btn btn-primary' %>
  </div>
</div>

<div class="actuales">
  <h3><strong>Materias Actuales</strong></h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Grado</th>
      <th>Periodo</th>
      <th>Estado</th>
      <th>Accion</th>
    </tr>
    </thead>
    <tbody>
    <% @course.each_with_index do |c, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= c.name %></td>
          <td><%= c.grade.name %></td>
          <td><%= c.grade.period.name %></td>
          <td>
            <% if c.grade.current? %>
                <span class="label label-success">Cursando</span>
            <% else %>
                <span class="label label-danger">finalizado</span>
            <% end %>
          </td>
          <td>
            <%= link_to 'Ver detalles', teacher_course_path(c), class: 'btn btn-xs btn-default' if student_signed_in? %>
            <%= link_to 'Editar', edit_course_path(c), class: 'btn btn-xs btn-default' if user_signed_in? %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div> <!-- Actuales -->

<div class="antiguos">
  <% unless @old_courses.blank? %>
      <h3><strong>Grados finalizados</strong></h3>
  <% end %>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Grado</th>
      <th>Periodo</th>
      <th>Estado</th>
      <th>Accion</th>
    </tr>
    </thead>
    <tbody>
    <% @old_courses.each_with_index do |c, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= c.name %></td>
          <td><%= c.grade.name %></td>
          <td><%= c.grade.period.name %></td>
          <td>
            <% if c.grade.current? %>
                <span class="label label-success">Cursando</span>
            <% else %>
                <span class="label label-danger">finalizado</span>
            <% end %>
          </td>
          <td>
            <%= link_to 'Ver detalles', teacher_course_path(c), class: 'btn btn-xs btn-default' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>